@import url(http://fonts.googleapis.com/css?family=Anton&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
	font-size: 16px;
}

#nav {
	font-family: 'Anton', sans-serif;
	width: 300px;
	display: block;
	position: fixed;
	overflow: auto;
	height: 100%;
	top:333
	bottom: 0;
	left: 0;
	color: #333;
}

#nav_inner {
	padding: 10px 30px 30px 0px;
}

#nav h1, #nav h2 {
	padding-left: 30px;
}

#nav h1 {
	font-size: 40px;
	margin: 0;
	line-height: 40px;
}

#nav h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 40px 0;
}

#nav a {
	display: block;
	line-height: 50px;
	color: #333;
	text-decoration: none;
	padding-left: 30px;
}

#nav a.active, #nav a:hover {
	padding-left: 22px;
	border-left: 40px solid red;
	color: red;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

#container {
	width: 610px;
	margin-left: 330px;
	font-family: "Open Sans", sans-serif;
	line-height: 40px;
}